body{    
    font-family: 'Ubuntu';           
    background-color: white;
    /* background-color: rgb(240,240,240);  */
}

.p-datatable .p-sortable-column .p-sortable-column-icon {    
    color: rgb(54, 54, 54)  !important;
}

th{
    border: none !important; 
    padding-top: 15px !important;
    padding-bottom: 20px !important;    
    background-color: white !important;
    color: rgb(54, 54, 54)  !important;
    border-bottom: 1px solid rgb(242, 242, 242) !important;
}

td  {
    /* border: none !important;         */
    padding-top: 7px !important;
    padding-bottom: 7px !important;    
    
    /* Estilização sem cor sim cor não */

    /* background-color: white !important; */
    /* border-bottom: 1px solid rgb(242, 242, 242) !important; */
    /* padding-top: 20px !important; */
    /* padding-bottom: 0px !important;  */
}

.link{
    background-color: rgb(6, 44, 59);
    color: #fff;
    padding: 2px 10px;
    border-radius: 10px;
}
